.list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
.anime-card {
  padding: 0;
  margin: 0;
}

.is-complete {
  opacity: 0.4;
}
