.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5% auto;
  background-color: darkslategrey;
}
button {
  padding: 0.5% 4%;
  border: none;
  background-color: darkslategrey;
  color: antiquewhite;
  font-weight: 600;
}
button:hover {
  background-color: antiquewhite;
  color: darkslategrey;
}
